<% include partials/header.ejs %>

<div class="jumbotron" style="background-image: url('http://bgfons.com/upload/cloth_texture622.jpg');
             background-repeat:no-repeat; display: compact ; " >
<main class="container">
    <h1 class="heading">Survey List</h1>
    <div class="panel panel-default">
        
        <% if (surveys.length > 0) { %>
        <div class="panel-body table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Survey Name</th>
                        <th>Questions Type</th>
                        <th>Active From</th>
                        <th>Active To</th>
                        <th></th>
                    </tr>
                </thead>
                </tbody>
                <% for (var i = 0; i < surveys.length; i++) { %>
                <tr>
                    <td>
                        <%= surveys[i].name %>
                    </td>
                    <td>
                        <%= surveys[i].template %>
                    </td>
                    <td>
                        <% var date = new Date(surveys[i].active);
                         var dateString = date.toDateString() + " " + date.toLocaleTimeString(); %>
                        <%= dateString %>
                    </td>
                    <td>
                        <% date = new Date(surveys[i].expire);
                         var dateString = date.toDateString() + " " + date.toLocaleTimeString(); %>
                        <%= dateString %>
                    </td>
                    <td>
                        <a href="/activesurveys/<%= surveys[i]._id %>" title="Edit" class="btn btn-primary">
                            <i class="fa fa-pencil-square-o"></i>
                        </a>
                        
                    </td>   
                </tr>
                <% } %>
                </tbody>
            </table>
        </div> <!-- panel-body -->
        <% } %>
    </div><!-- panel panel-default -->

</main>
</div>
<% include partials/footer.ejs %>
